body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* MyNavbar.css */
.navbar {
  background-color: #231f20;
  padding: 10px 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  margin-left: 20px;
  width: 75px;
  height: 75px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 20px;
  color: #18b0c5;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.nav-item:hover {
  color: #cfd0d0;
  text-decoration: underline;
}

/* Align the navbar links to the right */
.navbar-links {
  margin-left: auto;
}

/* Home component */
.home-container {
  padding: 225px 150px;
  display: flex;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  position: relative;
}

.home-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the tint color and opacity */
  pointer-events: none;
}

.home-heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffd700;
  z-index: 1;
}

.home-text-container {
  max-width: 800px;
  height: 400px;
  z-index: 1;
}

.heading-name {
  color: #18b0c5;
  font-size: larger;
}

.home-introduction {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #fff;
}

.home-create {
  font-size: 16px;
  font-style: italic;
  color: #ffd700;
  font-weight: bold;
}

.profile-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-right: 50px;
  object-fit: cover;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* About.css */

.about-container {
  padding: 20px;
  background-color: #231f20;
  min-height: 1000px;
}

.about-info {
  font-size: 18px;
  margin-bottom: 10px;
  color: #cfd0d0;
}

.about-heading {
  color: #18b0c5;
}

.about-passion {
  font-size: 18px;
  font-style: italic;
  color: #ffd700;
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: bold;
  text-align: center;
}

.education {
  color: #18b0c5;
}

.about-passion::before {
  content: "✨ ";
}

.about-passion::after {
  content: " ✨";
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.icon-container {
  background-color: #18b0c5;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.skill-name-container {
  font-size: 20px;
  text-align: center;
}

.skills-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 1000px;
  margin: auto;
  box-shadow: 10px 8px 0 -4px rgba(0, 0, 0, 0.5);
  background-color: #cfd0d0;
  border-radius: 10px;
}

.category-title {
  text-align: center;
  margin: 25px 0;
  font-size: 25px;
}

/* Projects component */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  background-color: #cfd0d0;
}

.projects-list-container {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  width: 100%;
  margin: 20px;
}

.project-item {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 14px 14px 60px -10px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.project-item:last-child {
  margin-bottom: 0;
}

.project-item:hover {
  transform: scale(1.05);
}

.projects-header {
  font-size: 40px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 50px 0;
}

.project-title {
  font-weight: bold;
  overflow-wrap: break-word;
  font-size: 40px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.project-short-description {
  font-size: 20px;
  flex-grow: 1;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.7s ease;
  color: #fff;
  z-index: 1;
}

.project-item:hover .project-short-description {
  opacity: 1;
}

.project-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  pointer-events: none;
  z-index: 0;
}

/* .projects-container {
  padding: 40px 20px 40px 20px;
  background-color: #18b0c5;
}

.project-item {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  color: #231f20;
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #231f20;
  text-align: center;
  font-style: italic;
}

.project-description {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.project-technologies {
  font-size: 16px;
  margin-bottom: 15px;
  color: #231f20;
}

.project-links a {
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.project-links a:hover {
  color: #0056b3;
}

.project-screenshot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.project-screenshot {
  width: 800px;
  height: 650px;
  object-fit: contain;
} */

/* Global styles for the Contact component */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-image: url("images/contactbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  padding: 0 60px;
}

.contact-content-container {
  background-image: linear-gradient(
    rgba(112, 88, 68, 0.9),
    rgba(112, 88, 68, 0.9)
  );
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #d4bfa3;
}

.contact-info {
  font-size: 18px;
  margin-bottom: 10px;
  color: #d8d9ea;
}

.contact-link {
  color: #92aee6;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.contact-link:hover {
  color: #6ea0d4;
}

.contact-links {
  display: flex;
  flex-direction: column;
}

.contact-info {
  font-size: 18px;
  margin-bottom: 20px;
  color: #d8d9ea;
}

.contact-link {
  color: #d8d9ea;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.contact-link:hover {
  color: #6ea0d4;
}
