html,
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* MyNavbar.css */
.navbar {
  background-color: #231f20;
  padding: 10px 0;
  position: sticky !important;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-left {
  width: 50%;
}
.nav-right {
  width: 50%;
}

.navbar-initials {
  width: 75px;
  height: 75px;
  display: inline-flex;
  object-fit: cover;
  margin: 0 10px;
}

.navbar-brand:hover {
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0 !important;
  padding: 0;
}

.nav-item a {
  margin: 0 20px;
  color: #18b0c5;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.nav-item a:hover {
  color: #cfd0d0;
  cursor: pointer;
}

.navbar-links {
  margin-left: auto;
  display: inline-flex;
}

.social-icons {
  float: right;
  margin-right: 20px;
}

.social-icon {
  color: #cfd0d0;
  font-size: 24px;
  margin: 0 20px;
}

.social-icon:hover {
  color: #18b0c5;
  cursor: pointer;
}

/* Home component */
.home-container {
  padding: 225px 150px;
  display: flex;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

.home-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.home-heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffd700;
  z-index: 1;
  letter-spacing: 4;
}

.home-text-container {
  max-width: 800px;
  height: 400px;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-family: "Urbanist", sans-serif;
}

.heading-name {
  color: #18b0c5;
  font-size: larger;
  font-weight: 600;
}

.home-introduction {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #fff;
}

.home-create {
  font-size: 16px;
  font-style: italic;
  color: #ffd700;
  font-weight: bolder;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.profile-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-right: 50px;
  object-fit: cover;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  animation: pulse 2s;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@media (max-width: 1100px) {
  .home-container {
    padding: 165px 50px 0 50px;
    min-height: 100vh;
  }
}

@media (max-width: 850px) {
  .home-container {
    padding: 100px 20px 0 20px;
  }
  .profile-image {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 700px) {
  .home-container {
    padding: 50px 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .profile-image {
    width: 200px;
    height: 200px;
    display: flex;
    margin: 0 auto 20px auto;
  }
  .home-text-container {
    height: 100%;
  }
}

@media (max-width: 350px) {
  .home-container {
    min-height: 1000px;
    padding: 0;
  }
  .home-text-container {
    margin: 5px;
  }
}

/* Hamburger.css */
.hamburger-menu {
  display: flex;
  align-items: center;
  position: relative;
}

.hamburger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #c6c5c5;
  margin-left: 10px;
}

.hamburger-icon svg {
  width: 100%;
  height: 100%;
  fill: #c6c5c5;
  transition: fill 0.3s ease;
}

.hamburger-icon:hover svg {
  fill: #ffffff;
}

.hamburger-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #231f20;
  padding: 10px;
  display: none;
  z-index: 11;
  white-space: nowrap;
}

.hamburger-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburger-nav-item {
  margin-bottom: 10px;
}

.hamburger-nav-item a {
  color: #18b0c5 !important;
}

.hamburger-nav-item:last-child {
  margin-bottom: 0;
}

.hamburger-nav-item a {
  color: #c6c5c5;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  display: block;
  padding: 5px 0;
}

.hamburger-nav-item a:hover {
  color: #ffffff;
}

.hamburger-menu input[type="checkbox"] {
  display: none;
}

.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-content {
  display: block;
}

.hamburger-nav-right {
  min-width: calc(100vw - 40px);
}

.hamburger-social-icons {
  float: right;
  margin-right: 5px;
}

/* About.css */

.about-container {
  background-color: #4b5353;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.about-content-container {
  background-color: #f2f2f2;
  padding: 50px 20px;
}

.about-heading {
  color: #18b0c5;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.about-skills-heading {
  color: #18b0c5;
  font-size: 35px;
  text-align: center;
}

.about-passion {
  font-size: 18px;
  color: black;
  margin: 0 auto 30px auto;
  line-height: 2;
  font-weight: bold;
  text-align: center;
  width: 70%;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.about-passion {
  animation: scaleIn 2s ease-out both;
}

.education {
  color: #18b0c5;
}

.about-skills-list-container {
  padding: 50px 0;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.icon-container {
  background-color: #18b0c5;
  color: #f2f2f2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.icon-container:hover {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skill-name-container {
  font-size: 20px;
  text-align: center;
}

.skills-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 1000px;
  margin: 50px auto;
  box-shadow: 10px 8px 0 -4px rgba(0, 0, 0, 0.5);
  background-color: #cfd0d0;
  border-radius: 10px;
}

.category-title {
  text-align: center;
  margin: 25px 0;
  font-size: 25px;
}

@media (max-width: 1200px) {
  .about-passion {
    width: 95%;
  }
}

@media (max-width: 1200px) {
  .about-passion {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .category-title {
    font-size: 18px;
  }
  .skill-name-container {
    font-size: 14px;
  }
  .icon-container {
    width: 40px;
    height: 40px;
  }
  .skills-list-container {
    grid-gap: 0;
    margin: 10px 0 0 0;
    box-shadow: none;
    border-radius: 0;
  }
  .about-container {
    padding: 0;
  }
}

/* Projects component */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a8a8a8;
  min-height: 100vh;
  padding: 0 20px;
  font-family: "Josefin Sans", sans-serif;
}

.projects-list-container {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  width: 100%;
  margin: 10vh;
}

.project-item {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 14px 14px 60px -10px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.project-item:last-child {
  margin-bottom: 0;
}

.project-item:hover {
  transform: scale(1.05);
  border: 4px solid white;
}
.projects-header {
  font-size: 50px;
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
  color: #11599c;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation: fadeInUp 1s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects-title {
  font-weight: bold;
  overflow-wrap: break-word;
  font-size: 40px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.project-short-description {
  font-size: 20px;
  flex-grow: 1;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.7s ease;
  color: #fff;
  z-index: 1;
}

.project-item:hover .project-short-description {
  opacity: 1;
}

.project-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  pointer-events: none;
  z-index: 0;
}

@media (max-width: 1270px) {
  .projects-list-container {
    margin: 0;
  }
  .project-item {
    width: 350px;
    height: 350px;
  }
  .projects-header {
    margin: 40px 0;
  }
  .projects-title {
    font-size: 30px;
  }
  .project-short-description {
    font-size: 18px;
  }
}

@media (max-width: 1120px) {
  .projects-list-container {
    margin: 0;
  }
  .project-item {
    width: 300px;
    height: 300px;
  }
  .projects-header {
    margin: 40px 0;
  }
}

@media (max-width: 965px) {
  .projects-list-container {
    display: block;
  }
  .project-item {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
  .project-item.project-background-image {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .project-item {
    width: 300px;
    height: 300px;
  }
  .projects-header {
    font-size: 40px;
  }
  .project-short-description {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .project-item {
    width: 250px;
    height: 250px;
  }
  .projects-header {
    font-size: 40px;
  }
  .projects-container {
    padding: 0;
  }
  .projects-title {
    font-size: 20px;
    text-align: center;
  }
}

.project-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  background-color: #f9f9f9;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
}

.project-background {
  background-image: url("images/background2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.project-screenshot {
  display: block;
  margin: 20px auto;
  width: 600px;
  height: 450px;
  object-fit: contain;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-technologies-heading {
  font-size: 18px;
  font-weight: bold;
}

.technology-tag {
  padding: 8px 16px;
  background-color: #106d7a;
  color: #ffffff;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.technology-tag:hover {
  background-color: #1ea3b7;
}

.project-title {
  font-size: 40px;
  font-weight: bold;
  color: #106d7a;
  text-align: center;
  font-style: italic;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.project-long-description {
  font-size: 20px;
  line-height: 1.6;
  color: #333333;
  margin: 0 100px;
  padding-bottom: 50px;
}

@media (max-width: 1000px) {
  .project-para {
    text-align: center;
  }
  .project-long-description {
    margin: 0 50px;
  }
}

@media (max-width: 825px) {
  .project-long-description {
    margin: 0 20px;
  }
}

@media (max-width: 750px) {
  .project-screenshot {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .project-long-description {
    margin: 0;
  }
  .technology-tag {
    padding: 4px 8px;
    font-size: 12px;
  }
  .project-para {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .project-screenshot {
    width: 350px;
    height: auto;
  }
  .project-para {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .project-screenshot {
    width: 300px;
  }
  .project-container {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 350px) {
  .project-screenshot {
    width: 300px;
    margin: 20px auto;
  }
}

@media (max-width: 300px) {
  .project-screenshot {
    width: 250px;
  }
  .technology-tag {
    font-size: 10px;
  }
  .project-technologies-heading {
    font-size: 14px;
  }
}
@media (max-width: 280px) {
  .project-screenshot {
    width: 225px;
  }
}

/* Global styles for the Contact component */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("images/contactbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 50px;
}

.contact-content-container {
  background-color: rgba(112, 88, 68, 0.9);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.contact-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #d4bfa3;
}

.contact-link {
  color: #92aee6;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.contact-link:hover {
  color: #6ea0d4;
}

.contact-links {
  display: flex;
  flex-direction: column;
}

.contact-info {
  font-size: 16px;
  margin-bottom: 20px;
  color: #d8d9ea;
}

.contact-intro {
  font-size: 18px;
  margin-bottom: 20px;
  color: #d8d9ea;
}

.contact-link {
  color: #d8d9ea;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.contact-link:hover {
  color: #6ea0d4;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d4bfa3;
}

.form-label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
  color: #594936;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #705844;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3e2d1e;
}

.validation-error {
  color: red;
  margin-top: 5px;
}

.succeeded-message {
  font-size: 25px;
  color: #d8d9ea;
  margin-top: 10px;
  font-weight: bolder;
}

@media (max-width: 843px) {
  .nav-left {
    width: 70%;
  }
  .nav-right {
    width: 30%;
  }
}

@media (max-width: 500px) {
  .contact-container {
    padding: 20px;
  }
}

@media (max-width: 425px) {
  .contact-container {
    padding: 0;
  }
  .contact-content-container {
    border-radius: 0;
    padding: 40px 10px;
  }
  form {
    padding: 5px;
  }
  input {
    padding: 10px 5px;
  }
}
